.main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.homeLeft, .homeRight {
  flex: 1; 
  border: 1px solid #0070f3; 
  box-sizing: border-box;
}

.homeCenter {
  flex: 1.5; 
  border: 1px solid #0070f3; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
}

.logo {
  width: 20%;
}