.main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
  padding: 0rem;
  background-color: #151F2B;
  color: white;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.homeLeft, .homeRight {
  flex: 1; 
  border: 0.5px solid #6d7c8e; 
  box-sizing: border-box;
}

.homeCenter {
  flex: 2; 
  border: 0.5px solid #6d7c8e; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
}

.logo {
  width: 15%;
  margin: 20px;
}

.homeLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 25px;
  padding-left: 15px;
}



/* A COPIER DANS LAST TWEET MODULE CSS */

.profilIcon {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  overflow: hidden;
  display: flex;
}

.profilPitureIcon {
  width: auto; 
  height: 100%;
  object-fit: contain; 
  object-position: left;}

.headerTweet {
  display: flex;
  align-items: center;
}