/* A COPIER DANS LAST TWEET MODULE CSS */
.main {
  padding : 5vh;
  border : 0.5px solid grey;
}



.profilIcon {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    overflow: hidden;
    display: flex;
    margin-right: 1vh;
  }
  
  .profilPitureIcon {
    width: auto; 
    height: 100%;
    object-fit: contain; 
    object-position: left;}
  
  .headerTweet {
    display: flex;
    align-items: center;
  }


  /* Style de l'icon "like" en fonction du booléan */

  .liked {
    color : red;
  }

  .unliked {
    color:white;
  }


  
  .tweetContent {
    padding : 20px 0px;
  }

  .firstname {
    font-weight: bolder;
    color: white;
  } 

  .username {
    color:grey;
    margin-left: 10px;
  }

  .timestamp {
    color:grey;
    margin-left: 1vh;
  } 

  
  .hashtag {
    color: #3E9AF0;
    cursor: pointer;
    text-decoration: none;
  }
  
  .hashtag:hover {
    text-decoration: underline;
  }