
 .newTweetContainer {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin : auto;
}

.barBottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.btnTweet {
    background-color: #3E9AF0;
    border: none;
    color: white;
    border-radius: 50px; 
    padding: 0px 24px;
    font-size: 14px;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
}

.tweetBar {
    width: 100%; 
    box-sizing: border-box; 
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid grey;
    background-color: #151F2B;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

